.mainBtn {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    padding: 12px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.largeBtn {
    width: 100%;
}

.editStackBtn {
    margin: 5px;
    padding: 0px;
    padding-right: 10px;
}

.modalBtn {
    padding: 8px;
    font-size: 1rem;
    margin-top: 5px;
}

.deleteBtn {
    border: none;
    cursor: pointer;
    background: none;
    color: #f22e07;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    outline: none;
}

.deleteBtn::after {
    content: "Delete stack";
    position: absolute;
    background-color: rgba(166, 165, 165, 0.75);
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    top: -30px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.deleteBtn:hover::after {
    opacity: 1;
    visibility: visible;
}

.deleteBtn:hover,
.deleteBtn:active,
.deleteBtn:focus {
    color: #f22e07;
    background: none;
    outline: none;
    box-shadow: none;
}

/* Button colors */

.btnOrange {
    background-color: #FF6F20;
}

.btnGreen {
    background-color: #4CAF50;
}


.btnGray {
    background-color: #c4c1c1;
}

.btnRed {
    background-color: #f22e07;
}

.btnOrange:hover,
.btnOrange:active,
.btnOrange:focus,
.btnOrange:disabled {
    background-color: #ee5909;
    border-color: #ee5909;
    color: white;
    text-decoration: none;
}

.btnGreen:hover,
.btnGreen:active,
.btnGreen:focus,
.btnGreen:disabled {
    background-color: #1f9b23;
    border-color: #1f9b23;
    color: white;
    text-decoration: none;
}

.btnRed:hover,
.btnRed:active,
.btnRed:focus,
.btnRed:disabled {
    background-color: #c72303;
    border-color: #c72303;
}

.btnGray:hover,
.btnGray:active,
.btnGray:focus,
.btnGray:disabled {
    background-color: #afacac;
    border-color: #afacac;
}

.btnOrange:focus,
.btnGreen:focus,
.btnGray:focus,
.btnRed:focus {
    outline: none;
}