.pageContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
    background-color: transparent;
}

.wrapper {
    width: 100%;
    max-width: 600px;
}

.itemContainer {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeContainer {
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.timeText {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.arrowButton {
    border: none;
    width: 30px;
    height: 30px;
    color: #FF6F20;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.arrowButton:hover,
.arrowButton:active,
.arrowButton:focus,
.arrowButton:disabled {
    background-color: white;
    border-color: white;
    color: #fc5f0a;
    text-decoration: none;
}

.weekContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.weekButton {
    background-color: white;
    color: #3a3b3c;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 0;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.weekButton:hover,
.weekButton:active,
.weekButton:focus {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    text-decoration: none;
}

.weekButton:disabled {
    background-color: transparent;
    border-color: #ddd;
    color: #ddd;
}

.activeButton {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

.noLogsText {
    margin-top: 50px;
}

.stackItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-top: 10px;
    height: 100px;
    border-radius: 10px;
    border: white;
    border-radius: 10px !important;
}

.habitContainer {
    flex-grow: 1;
}

.tickboxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.statusText {
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}

.tickboxContainer i {
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
}


.unchecked {
    color: #7C8285;
}

.checked {
    color: #4DAF4E;
}

.notCompletedText,
.completedText {
    font-size: 10px;
    font-weight: 500;
    color: #7C8285;

}

.completedText {
    color: #4DAF4E;
}

.notCompletedText {
    color: #7C8285;
}

.errorMessage {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/* Progress page specific */

.progressContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.progressStackContainer {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.progressStackTitle {
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    white-space: normal;
    flex-grow: 1;
}

.progressSectionsContainer {
    justify-content: center;
}

.progressTitle {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.progressNumbers {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

.numberOrange {
    color: #FF6F20;
}

.numberGreen {
    color: #4CAF50;
}

.milestoneList {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.milestoneItem {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.milestoneText {
    padding-bottom: 10px;
}

.milestoneDate {
    font-size: 14px;
    color: #888;
    padding-bottom: 15px;
}

/* Calendar styles */

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 600px;
    gap: 10px;
    padding: 10px 0;
}

.calendarContainer {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendarDay {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(229, 231, 235, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #3a3b3c;
}

.completedDay {
    background-color: #4CAF50;
    color: white;
}

.notCompletedDay {
    background-color: rgba(229, 231, 235, 0.4);
}