/* My Stacks page */

.stacksWrapper {
    width: 100%;
    max-width: 600px;
}

.listItem {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 100px;
    border-radius: 10px;
    border: white;
    display: flex;
    align-items: center;
    border-radius: 10px !important;
}

.createHabitBtn {
    background: white;
    border: white;
    color: black;
    width: 100%;
    cursor: pointer;
}

.createHabitBtn:hover {
    background-color: white;
    color: #FF6F20;
}

i {
    font-size: 1.2rem;
    font-weight: 800;
    padding-right: 10px;
}

/* Edit Stacks page */

.inputBtnWrapper {
    display: flex;
    gap: 10px;
}