.navBar {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: var(--font-color);
}


.profileImage {
    border-radius: 50%;
    object-fit: cover;
    width: 45px;
    height: 45px;
    overflow: hidden;
    cursor: pointer;
}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.toggle::after {
    display: none !important;
}

.dropdownMenu {
    min-width: 150px;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    padding: 1rem;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdownItem {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 0;
}

.dropdownItem:hover {
    text-decoration: none;
}