.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    background-color: transparent;
}

.welcomeMessage {
    padding-bottom: 50px;
    text-align: center;
}

.profileImageWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.profileImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    margin-bottom: 0;
}