html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/src/assets/background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Lato", sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
  position: relative;
}

/* For large devices (tablets and desktops) */
@media (min-width: 768px) {
  body {
    background-position: center top;
  }
}

/* For very large screens */
@media (min-width: 1200px) {
  body {
    background-size: cover;
  }
}