.App {
  font-family: "Roboto", serif;
  color: #3a3b3c;
  min-height: 100vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

a {
  color: #3a3b3c;
}

a:hover {
  color: #FF6F20;
  transition: color ease-in-out 0.3s;
}

i {
  font-size: 1.2rem;
  padding: 6px;
}